<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

  <!-- Font Awesome -->
  <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
  <style>
    .input-group {
      margin-bottom: 20px;
    }

    .form-label {
      font-size: 18px;
    }
  </style>
  <title>Create Job</title>
</head>

<body>  
  <%- include('../views/nav.ejs') %>
  <div class="m-5" style="width: auto;">
    <h2 style="text-align: center; font-size: 64px; font-weight: 700; line-height: 64px;">CREATE JOB</h2>
  </div>
  <div class="d-flex justify-content-center align-items-center ">
    <div class="container m-auto p-5" style="border-radius: 50px; background: #f5f8fa;">
      <form class="row g-3 mx-2" action="/job/create" method="post">
        <div class="col-12">
          <label for="jobTitle" class="form-label">Job Title</label>
          <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Type your job title" required>
        </div>

        <div style="width: auto;">
          <label for="jobDescription" class="form-label mt-3">Job Description</label>
        </div>
        <div style="width: auto;">
          <button id="button" class="btn btn-outline-primary add-job-description-btn mt-3"><i class="fas fa-plus"></i> Add Job Description</button>
        </div>
        <div class="container mt-4" id="jobDescriptionContainer">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="jobDescription" placeholder="Job Description" required>
            <div class="input-group-append">
              <button class="btn removeDescriptionBtn" type="button" style="color: blue;">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div style="width: auto;">
          <label for="requirements" class="form-label mt-1">Requirements</label>
        </div>
        <div style="width: auto;">
          <button id="button" class="btn btn-outline-primary add-requirement-btn"><i class="fas fa-plus"></i> Add Requirement</button>
        </div>

        <div class="container mt-4" id="requirementsContainer">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="requirements" placeholder="Requirement" required>
            <div class="input-group-append">
              <button class="btn removeRequirementBtn1" type="button" style="color: blue;">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <label for="location" class="form-label">Location</label>
          <input class="form-control" type="text" id="location" name="location" required>
        </div>
        <div class="col-md-6">
          <label for="salaryRange" class="form-label mt-2">Salary Range</label>
          <input class="form-control" type="number" id="salaryRange" name="salaryRange" required>
        </div>
        <div class="col-md-6">
          <label for="jobType" class="form-label mt-2">Job Type</label>
          <select class="form-select" id="employmentType" name="employmentType" required>
            <option selected>Choose...</option>
            <option value="Full-time">Full-time</option>
            <option value="Internship">Internship</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="postedDate" class="form-label mt-2">Posted Date</label>
          <input class="form-control" type="date" id="postedDate" name="postedDate" required>
        </div>
        <div class="col-md-6">
          <label for="closingDate" class="form-label mt-2">Closing Date</label>
          <input class="form-control" type="date" id="closingDate" name="closingDate" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-5">
          <button type="submit" class="btn btn-outline-primary btn-lg">Create Job</button>
        </div>
      </form>
    </div>
  </div>
  <div class="foot">
    <%- include('../views/footer.ejs') %>
  </div>
</body>

<script type="text/javascript">
  const msg = "<%= message %>";
  if (msg) {
    alert(msg)
  }

  document.querySelector('.add-requirement-btn').addEventListener('click', function() {
    addInputWithDeleteButton('requirementsContainer', 'Requirement', 'requirements[]');
  });

  document.querySelector('.add-job-description-btn').addEventListener('click', function() {
    addInputWithDeleteButton('jobDescriptionContainer', 'Job Description', 'jobDescription[]');
  });

  function addInputWithDeleteButton(containerId, placeholderText, inputName) {
    const container = document.getElementById(containerId);

    const inputGroupDiv = document.createElement('div');
    inputGroupDiv.className = 'input-group';

    const input = document.createElement('input');
    input.type = 'text';
    input.className = 'form-control';
    input.name = inputName;
    input.placeholder = placeholderText;
    input.required = true;

    const deleteDiv = document.createElement('div');
    deleteDiv.style.width = 'auto';

    const deleteButton = document.createElement('button');
    deleteButton.className = 'btn removeRequirementBtn';
    deleteButton.type = 'button';
    deleteButton.innerHTML = '<i class="fas fa-trash"></i>';
    deleteButton.style.color = 'blue';

    deleteButton.addEventListener('click', function() {
      container.removeChild(inputGroupDiv);
    });

    inputGroupDiv.appendChild(input);
    inputGroupDiv.appendChild(deleteButton);

    container.appendChild(inputGroupDiv);

  }
  document.getElementById('removeRequirementBtn1').addEventListener('click', function() {
    const requirementsContainer = document.getElementById('requirementsContainer');
    if (requirementsContainer.children.length > 1) {
      requirementsContainer.removeChild(requirementsContainer.lastChild);
    }
  });
</script>

</html>