<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold fs-1" href="#" style="color: blue;">
            TNT CAREERS
        </a>
    </div>
</nav>